<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Rin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#212121">
    <meta name="msapplication-square150 150logo" content="https://rin.tishdev.me/img/favicon.png">
    <meta property="og:image" content="https://rin.tishdev.me/img/favicon.png">
    <meta property="og:title" content="Rin" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="A website for Rin Discord bot." />
    <meta property="og:description" content="Discord bot." />
    <meta name="theme-color" content="#212121">
    <meta property="og:url" content="http://rin.tishdev.me/" />
    <meta property="og:site_name" content="Rin" />
    <link rel="canonical" href="https://rin.tishdev.me/" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="apple-touch-icon" href="https://rin.tishdev.me/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="static/css/fontawesome-all.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/animate.css" />
    <link rel="shortcut icon" href="static/img/favicon.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
   </div>
    <div class="container">
        <br><br><br><br><br><br><br><br>
        <h2 class="animated fadeInDown" id="main-text"><img class="animated fadeInDown circle responsive-img" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=64" /> Welcome, <%= user.username %></h2>
        <p class="animated fadeInDown" id="second-text">This is a test dashboard, I will add more in the future!</p>
        <p class="animated fadeInDown" id="third-text"><%= client.user.username %> is serving <%= client.guilds.size %> servers, <%= client.users.size %> users, and <%= client.channels.size %> channels.</p>
    </div>
    </div>
    <script src="/static/js/materialize.min.js"></script>
</body>

</html>
